* { box-sizing: border-box; }
body { margin: 0; padding: 0; }
input::placeholder { color: rgba(255,255,255,0.4); }
details > summary { list-style: none; }
details > summary::-webkit-details-marker { display: none; }
